// IMPORTING FONTS

//Soin Sans Neue
@font-face {
  font-family: "Soin Sans Neue Bold";
  src: url("../fonts/Sans-Neue-Font/Stawix - SoinSansNeue-Bold.otf");
}
@font-face {
  font-family: "Soin Sans Neue Medium";
  src: url("../fonts/Sans-Neue-Font/Stawix - SoinSansNeue-Medium.otf");
}
@font-face {
  font-family: "Soin Sans Neue";
  src: url("../fonts/Sans-Neue-Font/Stawix - SoinSansNeue-Roman.otf");
}

// Trenda
@font-face {
  font-family: "Trenda";
  src: url("../fonts/Trenda/Latinotype - Trenda Regular.otf");
}
@font-face {
  font-family: "Trenda Bold";
  src: url("../fonts/Trenda/Latinotype - Trenda Bold.otf");
}
@font-face {
  font-family: "Trenda Semi Bold";
  src: url("../fonts/Trenda/Latinotype - Trenda Semibold.otf");
}

// Didact Gothic
@font-face {
  font-family: "Didact Gothic";
  src: url("../fonts/didact-gothic/didactgothic-regular.otf");
}

.button,
.button:link,
.button:visited {
  background: $color-primary 0% 0% no-repeat padding-box;
  border-radius: 0.8rem;
  color: $color-white;
  opacity: 1;
  padding: 1.5rem 3.3rem;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1.5rem;
  line-height: 1.8;
  font-family: $font-primary-medium;
  transition: background-color 0.3s;
  &:hover {
    background-color: rgba($color-primary, 0.9);
  }
}
.button__block {
  width: 100% !important;
  padding: 1.2rem 0;
  border-radius: 0.5rem;
  font-size: 1.4 rem;
}

.primary-heading {
  text-align: center;
  padding: 6rem 0;
  span {
    font-size: 1rem;
    letter-spacing: 0.18rem;
    text-transform: uppercase;
    color: $color-primary;
    line-height: 1.3;
    font-family: $font-secondary-bold;
  }
  h1 {
    font-size: 3.6rem;
    font-family: $font-heading-2;
    letter-spacing: 0.036rem;
    color: $color-black;
  }
}

.button__google {
  background: transparent;
  border: 2px solid rgba($color-dark, 0.1);
  width: 100%;
  font-size: 1.2rem;
  line-height: 1.5;
  font-family: $font-primary-medium;
  color: $color-dark;
  padding: 1rem 0;
  transition: all 0.3s;
  margin-top: 4rem;

  &:hover {
    border: 2px solid rgba($color-dark, 0.3);
  }

  &-img {
    width: 1.4rem;
    margin-left: 0.8rem;
  }
}

.primary-link {
  color: $color-primary;
  transition: all 0.3s;
  font-size: 1.2rem;
  font-family: $font-primary-medium;
  &:hover {
    color: $color-dark;
  }
}
