// COLOR VARIABLES
$color-primary: #01630a;
$color-primary-light: #e6f2e7;

$color-white: #fff;
$color-black: #000;

$color-dark: #222222;
$color-dark-1: #555555;
$color-dark-2: #777777;

// FONT VARIABLES
$font-primary: "Soin Sans Neue", sans-serif;
$font-primary-bold: "Soin Sans Neue Bold", sans-serif;
$font-primary-medium: "Soin Sans Neue Medium", sans-serif;


$font-secondary: "Trenda", sans-serif;
$font-secondary-bold: "Trenda Bold", sans-serif;
$font-secondary-sm: "Trenda Semi Bold", sans-serif;


$font-heading: "Archivo Narrow", sans-serif;
$font-heading-2: "Didact Gothic", sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; // 600px
