// COLOR VARIABLES
$color-primary: #01630a;
$color-primary-light: #e6f2e7;

$color-white: #fff;
$color-black: #000;

$color-dark: #222222;
$color-dark-1: #989898;

// FONT VARIABLES
$font-primary: "Soin Sans Neue", sans-serif;
$font-primary-bold: "Soin Sans Neue Bold", sans-serif;
$font-primary-medium: "Soin Sans Neue Medium", sans-serif;


// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; // 600px
